In [28]:
import numpy as np
import pandas as pd

In [29]:
pop = pd.read_csv('demo_pjan_1_Data.csv', sep=',')
pop

,TIME,GEO,AGE,SEX,UNIT,Value,Flag and Footnotes
0,2008,Union européenne (composition actuelle),Total,Total,Nombre,500297033,b
1,2008,Union européenne (avant l'accession de la Croa...,Total,Total,Nombre,495985066,b
2,2008,Zone euro (19 pays),Total,Total,Nombre,333096775,b
3,2008,Zone euro (18 pays),Total,Total,Nombre,329884170,b
4,2008,Belgique,Total,Total,Nombre,10666866,NaN
5,2008,Bulgarie,Total,Total,Nombre,7518002,NaN
6,2008,Tchéquie,Total,Total,Nombre,10343422,NaN
7,2008,Danemark,Total,Total,Nombre,5475791,NaN
8,2008,"Allemagne (jusqu'en 1990, ancien territoire de...",Total,Total,Nombre,82217837,NaN
9,2008,Allemagne incluant l'ancienne RDA,Total,Total,Nombre,82217837,NaN
10,2008,Estonie,Total,Total,Nombre,1338440,NaN
11,2008,Irlande,Total,Total,Nombre,4457765,NaN
12,2008,Grèce,Total,Total,Nombre,11060937,NaN
13,2008,Espagne,Total,Total,Nombre,45668939,NaN
14,2008,France,Total,Total,Nombre,64007193,NaN
15,2008,France (métropolitaine),Total,Total,Nombre,62134866,NaN
16,2008,Croatie,Total,Total,Nombre,4311967,NaN
17,2008,Italie,Total,Total,Nombre,58652875,NaN
18,2008,Chypre,Total,Total,Nombre,776333,NaN
19,2008,Lettonie,Total,Total,Nombre,2191810,NaN
20,2008,Lituanie,Total,Total,Nombre,3212605,NaN
21,2008,Luxembourg,Total,Total,Nombre,483799,NaN
22,2008,Hongrie,Total,Total,Nombre,10045401,NaN
23,2008,Malte,Total,Total,Nombre,407832,NaN
24,2008,Pays-Bas,Total,Total,Nombre,16405399,NaN
25,2008,Autriche,Total,Total,Nombre,8307989,NaN
26,2008,Pologne,Total,Total,Nombre,38115641,NaN
27,2008,Portugal,Total,Total,Nombre,10553339,NaN
28,2008,Roumanie,Total,Total,Nombre,20635460,NaN
29,2008,Slovénie,Total,Total,Nombre,2010269,b
...,...,...,...,...,...,...,...
550,2017,Roumanie,Total,Total,Nombre,19644350,NaN
551,2017,Slovénie,Total,Total,Nombre,2065895,NaN
552,2017,Slovaquie,Total,Total,Nombre,5435343,NaN
553,2017,Finlande,Total,Total,Nombre,5503297,NaN
554,2017,Suède,Total,Total,Nombre,9995153,NaN
555,2017,Royaume-Uni,Total,Total,Nombre,65808573,NaN
556,2017,Espace économique européen (EEE) (UE28 - compo...,Total,Total,Nombre,517157147,bp
557,2017,Espace économique européen (EEE) (UE27 - avant...,Total,Total,Nombre,513002934,bp
558,2017,Association Européenne de Libre Echange (AELE),Total,Total,Nombre,14054026,NaN
559,2017,Islande,Total,Total,Nombre,338349,NaN
560,2017,Liechtenstein,Total,Total,Nombre,3781,NaN
561,2017,Norvège,Total,Total,Nombre,5258317,NaN
562,2017,Suisse,Total,Total,Nombre,8419550,NaN
563,2017,Monténégro,Total,Total,Nombre,622387,NaN
564,2017,Ancienne République yougoslave de Macédoine,Total,Total,Nombre,2073702,NaN
565,2017,Albanie,Total,Total,Nombre,2876591,NaN
566,2017,Serbie,Total,Total,Nombre,7040272,NaN
567,2017,Turquie,Total,Total,Nombre,79814871,NaN
568,2017,Andorre,Total,Total,Nombre,:,NaN
569,2017,Biélorussie,Total,Total,Nombre,9504704,NaN
570,2017,Bosnie-Herzégovine,Total,Total,Nombre,:,NaN
571,2017,Kosovo (selon la résolution 1244/99 du Conseil...,Total,Total,Nombre,1783531,NaN
572,2017,Moldavie,Total,Total,Nombre,3550852,NaN
573,2017,Monaco,Total,Total,Nombre,:,NaN
574,2017,Russie,Total,Total,Nombre,:,NaN
575,2017,Saint-Marin,Total,Total,Nombre,:,NaN
576,2017,Ukraine,Total,Total,Nombre,42414905,NaN
577,2017,Arménie,Total,Total,Nombre,2986151,NaN
578,2017,Azerbaïdjan,Total,Total,Nombre,9809981,NaN
579,2017,Géorgie,Total,Total,Nombre,3718200,NaN

In [30]:
sup = pd.read_csv('EuropeSuperficie.csv', sep=",")
sup

         États_membres  Superficie_(km2)
0             Bulgarie            110944
1             Roumanie            238391
2            Allemagne            357021
3             Autriche             83858
4             Belgique             30510
5               Chypre              9250
6             Danemark             43094
7              Espagne            504782
8              Estonie             45226
9             Finlande            337030
10              France            550030
11               Grèce            131940
12             Hongrie             93030
13             Irlande             70280
14              Italie            301320
15            Lettonie             64589
16            Lituanie             65200
17          Luxembourg              2586
18               Malte               316
19            Pays-Bas             41526
20             Pologne            312685
21            Portugal             92931
22  République tchèque             78866
23         Royaume-Uni            244820
24           Slovaquie             48845
25            Slovénie             20253
26               Suède            449964

In [33]:
demo = sup.merge(pop, left_on='États_membres', right_on='GEO',how='outer')
demo.drop(['AGE', 'SEX', 'UNIT', 'GEO', 'Flag and Footnotes'], axis=1, inplace=True)
demo.dropna(axis=0,inplace=True)
demo = demo[demo.Value != ":"]
demo["Value"] = demo.Value.dropna(axis=0)
demo["Value"] = demo["Value"].astype(int)
demo['Densité']=demo['Value']/demo['Superficie_(km2)']
t=demo.sort_values(by='Densité',ascending=False)
t

    États_membres  Superficie_(km2)    TIME     Value      Densité
180         Malte             316.0  2017.0    460297  1456.636076
179         Malte             316.0  2016.0    450415  1425.363924
178         Malte             316.0  2015.0    439691  1391.427215
177         Malte             316.0  2014.0    429424  1358.936709
176         Malte             316.0  2013.0    422509  1337.053797
175         Malte             316.0  2012.0    417546  1321.348101
174         Malte             316.0  2011.0    414989  1313.256329
173         Malte             316.0  2010.0    414027  1310.212025
172         Malte             316.0  2009.0    410926  1300.398734
171         Malte             316.0  2008.0    407832  1290.607595
190      Pays-Bas           41526.0  2017.0  17081507   411.344868
189      Pays-Bas           41526.0  2016.0  16979120   408.879256
188      Pays-Bas           41526.0  2015.0  16900726   406.991427
187      Pays-Bas           41526.0  2014.0  16829289   405.271131
186      Pays-Bas           41526.0  2013.0  16779575   404.073954
185      Pays-Bas           41526.0  2012.0  16730348   402.888504
184      Pays-Bas           41526.0  2011.0  16655799   401.093267
183      Pays-Bas           41526.0  2010.0  16574989   399.147257
182      Pays-Bas           41526.0  2009.0  16485787   396.999157
181      Pays-Bas           41526.0  2008.0  16405399   395.063310
40       Belgique           30510.0  2017.0  11351727   372.065782
39       Belgique           30510.0  2016.0  11311117   370.734743
38       Belgique           30510.0  2015.0  11237274   368.314454
37       Belgique           30510.0  2014.0  11180840   366.464766
36       Belgique           30510.0  2013.0  11137974   365.059784
35       Belgique           30510.0  2012.0  11075889   363.024877
34       Belgique           30510.0  2011.0  11000638   360.558440
33       Belgique           30510.0  2010.0  10839905   355.290233
32       Belgique           30510.0  2009.0  10753080   352.444444
31       Belgique           30510.0  2008.0  10666866   349.618682
..            ...               ...     ...       ...          ...
79        Estonie           45226.0  2016.0   1315944    29.097068
77        Estonie           45226.0  2014.0   1315819    29.094304
80        Estonie           45226.0  2017.0   1315635    29.090236
78        Estonie           45226.0  2015.0   1314870    29.073321
251         Suède          449964.0  2017.0   9995153    22.213228
250         Suède          449964.0  2016.0   9851017    21.892900
249         Suède          449964.0  2015.0   9747355    21.662522
248         Suède          449964.0  2014.0   9644864    21.434746
167    Luxembourg            2586.0  2014.0     54968    21.255994
247         Suède          449964.0  2013.0   9555893    21.237017
246         Suède          449964.0  2012.0   9482855    21.074697
245         Suède          449964.0  2011.0   9415570    20.925163
244         Suède          449964.0  2010.0   9340682    20.758732
243         Suède          449964.0  2009.0   9256347    20.571306
242         Suède          449964.0  2008.0   9182927    20.408137
164    Luxembourg            2586.0  2011.0     51184    19.792730
90       Finlande          337030.0  2017.0   5503297    16.328805
89       Finlande          337030.0  2016.0   5487308    16.281364
88       Finlande          337030.0  2015.0   5471753    16.235211
87       Finlande          337030.0  2014.0   5451270    16.174436
86       Finlande          337030.0  2013.0   5426674    16.101457
85       Finlande          337030.0  2012.0   5401267    16.026072
84       Finlande          337030.0  2011.0   5375276    15.948954
83       Finlande          337030.0  2010.0   5351427    15.878192
82       Finlande          337030.0  2009.0   5326314    15.803679
81       Finlande          337030.0  2008.0   5300484    15.727039
43         Chypre            9250.0  2010.0     81914     8.855568
42         Chypre            9250.0  2009.0     79693     8.615459
162    Luxembourg            2586.0  2009.0      4935     1.908353
47         Chypre            9250.0  2014.0       858     0.092757

[250 rows x 5 columns]